<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categorias</key>
	<array>
		<dict>
			<key>nombre</key>
			<string>Deportes</string>
			<key>categoriaID</key>
			<integer>2</integer>
			<key>subCategorias</key>
			<array>
				<dict>
					<key>nombre</key>
					<string>Futbol</string>
					<key>categoriaID</key>
					<integer>22</integer>
					<key>subCategorias</key>
					<array/>
				</dict>
				<dict>
					<key>nombre</key>
					<string>Tenis</string>
					<key>categoriaID</key>
					<integer>21</integer>
					<key>subCategorias</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nombre</key>
			<string>Profesionales</string>
			<key>categoriaID</key>
			<integer>3</integer>
			<key>subCategorias</key>
			<array>
				<dict>
					<key>nombre</key>
					<string>Medicos</string>
					<key>categoriaID</key>
					<integer>11</integer>
					<key>subCategorias</key>
					<array/>
				</dict>
				<dict>
					<key>nombre</key>
					<string>Plomero</string>
					<key>categoriaID</key>
					<integer>32</integer>
					<key>subCategorias</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nombre</key>
			<string>Profesor</string>
			<key>categoriaID</key>
			<integer>1</integer>
			<key>subCategorias</key>
			<array>
				<dict>
					<key>nombre</key>
					<string>Primario</string>
					<key>categoriaID</key>
					<integer>12</integer>
					<key>subCategorias</key>
					<array/>
				</dict>
				<dict>
					<key>nombre</key>
					<string>Secundario</string>
					<key>categoriaID</key>
					<integer>11</integer>
					<key>subCategorias</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
