<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zonas</key>
	<array>
		<dict>
			<key>nombre</key>
			<string>Cordoba</string>
			<key>zonaID</key>
			<integer>2</integer>
			<key>subZonas</key>
			<array>
				<dict>
					<key>nombre</key>
					<string>CodobaBaja</string>
					<key>zonaID</key>
					<integer>22</integer>
					<key>subZonas</key>
					<array/>
				</dict>
				<dict>
					<key>nombre</key>
					<string>CordobaAlta</string>
					<key>zonaID</key>
					<integer>21</integer>
					<key>subZonas</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nombre</key>
			<string>Rosario</string>
			<key>zonaID</key>
			<integer>3</integer>
			<key>subZonas</key>
			<array>
				<dict>
					<key>nombre</key>
					<string>Flores</string>
					<key>zonaID</key>
					<integer>11</integer>
					<key>subZonas</key>
					<array/>
				</dict>
				<dict>
					<key>nombre</key>
					<string>Costanera</string>
					<key>zonaID</key>
					<integer>32</integer>
					<key>subZonas</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nombre</key>
			<string>Capital</string>
			<key>zonaID</key>
			<integer>1</integer>
			<key>subZonas</key>
			<array>
				<dict>
					<key>nombre</key>
					<string>Caballito</string>
					<key>zonaID</key>
					<integer>12</integer>
					<key>subZonas</key>
					<array/>
				</dict>
				<dict>
					<key>nombre</key>
					<string>Flores</string>
					<key>zonaID</key>
					<integer>11</integer>
					<key>subZonas</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
