/* DEFAULTS
----------------------------------------------------------*/
/* *
{
    border:0;
    margin:0;
    padding:0;    
} */
body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 16px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}


fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.border
{
    border-style:solid;
    border-color:Red; 
    border-width:1px;
    padding:10px;
}

.arbol
{
    border-style:solid;
    border-color:Red; 
    border-width:1px;
    padding:10px;
}

div.arboles
{
    width: 250px;
    float:left;
    margin-bottom:50px;
}

div.filtrosBusqueda
{
    float:left;
    margin-left:50px;
    width:500px;    
    
}

.links
{
    font-size:large;
    font-family:Book Antiqua;
    margin: 25px;
}

p.busqueda
{
    font-size: 1.5em;
    font-weight:bolder;
    color:Blue;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 10px;
}

label.filtrosBusqueda
{
    font-size:small;
    font-weight:bolder;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    width:100px;
    margin-right:0px;
}

TextBoxFiltrosBusqueda
{
    font-size:small;
    font-weight:bolder;
    color: red;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    
}



.grillaResultados
{
    width:100%
}

p.bienvenida
{
  font-size: x-large;
  color: Blue;
  font-family: Book Antiqua;
  text-align:left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.imgMP
{
    margin-left: 80px;
    margin-right: 40px;
    padding-bottom: 20px;
    
}

.imgPrivacidad
{
    margin-left: 80px;
}

.imgCalendario
{
  margin-left: 80px;
}

.imgLogoSlogan
{
    margin-top: 5px;
    margin-left: 220px;
}

.imgBusqueda
{
    margin-left: 70px;
}

.imgRentabilidad
{
    margin-left: 50px;
    padding-bottom: 10px;
}

p.tituloPrincipal
{
    font-size:xx-large;
    color: black;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 300;
    margin-top:0px;
    
}


#MainContent_nombre
{
    margin-left: 32px;
    width:250px;
}

#MainContent_precioDesde
{
    margin-left: 8px;
    width:50px;
}

#MainContent_precioHasta
{
    margin-left: 5px;
    width:50px;
}

#MainContent_reset
{
    margin-left:30px;
}

.labelDetalleServicio
{
    font-size:small;
    font-weight:bolder;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    width:100px;
    margin-right:0px;
}

.labelDetalleInfo
{
    font-size:small;
    font-weight:bolder;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    width:100px;
    margin-right:0px;
    color:Red;
}

div.detalleServicio
{
    float:left;
    width:350px;    
    
}

div.imagenServicio
{
    float:left;
    margin-left:50px;
    width:300px;    
    height:300px;
}

#MainContent_ImagenServicio
{
    width:300px;   
    height:300px;
}

#DIVPedirTurno
{
    float:left;
    margin-bottom:50px;
    margin-top:15px;
    width:400px;
}

div.linksDetalleServicio
{
    float:left;
    width:350px;  
    margin-right:400px;
    margin-top:25px;
    margin-bottom:20px;
    font-size:large;
    font-family:Book Antiqua;
}

.GrillaTurnosDisponibles
{
    margin-top:25px;
    width:350px;
}

.MarginLeft30
{
    margin-left:30px;
}

.txtDatePicker
{
    font-size:small;
    font-weight:bolder;
    color: red;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    width:120px;
    padding-left:auto;
    padding-right:auto;
    
}

#map {
  border: 1px solid #DDD; 
  width:300px;
  height: 300px;
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}


#MainContent_Estadistica
{
    width: 400px;
    float:left;
}

div.Servicio
{
    width: 350px;
    float:left;
    margin-left:50px; 
}

#MainContent_DDLServicios
{
     width: 350px;
}


.anchoCompleto
{
    width: 900px;
    height:130px;
}

.EstadisticasFecha
{
    float:left;
    margin-top:20px;
    width:250px;
}

.EstadisticasHora
{
    float:left;
    margin-top:20px;
    margin-left: 50px;
    width:250px;
}

.EstadisticasResultado
{
    float:left;
    width:650px;
    margin-bottom:40px;
    margin-top:25px;
}

.EstadisticasLinks
{
    float:left;
    width:500px;    
    font-size:large;
    font-family:Book Antiqua;
    margin: 15px;    
}

.GrupoEditarLinks
{
    float:left;
    width:500px;    
    font-size:large;
    font-family:Book Antiqua;
    margin: 15px;    
}

.GrupoDetalleTextbox
{
    float:left;
    margin-top:20px;
}

.GrupoDetalleLinksSuscripcion
{
    float:left;
    font-size:large;
    font-family:Book Antiqua;
    margin-left: 15px;
    margin-top:20px;    
    }

.GrupoDetalleListas
{
    float:left;
    width:900px;
    margin-bottom:30px;
    margin-top:0px;
}

.GrupoDetalleServicios
{
    float:left;
    width:300px;
    margin-top:25px;
}

.GrupoDetalleMiembros
{
    float:left;
    width:300px;
    margin-top:25px;
    margin-left:40px;
}

.GrupoDetalleLinks
{
    float:left;
    font-size:large;
    font-family:Book Antiqua;
    margin: 15px;    
}

.LinkDerecho
{
 margin-left:15px;
}

.GruposLinks
{
    font-size:large;
    font-family:Book Antiqua;
    margin-left: 10px;
}

.MisGruposLinks
{
    font-size: medium;
    font-family:Book Antiqua;
    margin-left: 10px;
}


.DivGruposLinks
{
    float:left;
    font-size: medium;
    font-family:Book Antiqua;
    margin: 15px;  
    margin-bottom: 30px;  
}

.GruposAdheridos
{
    float:left;
    width: 700px;
}

.GruposCombo
{
    margin-left: 5px;
}

.GrupoCrearLinks
{
    font-size:large;
    font-family:Book Antiqua;
    
}

.GruposPendientesLinks
{
    font-size:large;
    font-family:Book Antiqua;
    margin-left: 10px;
    margin-top: 20px;
    }
    
.TurnosModificarLinks
{
    font-size:large;
    font-family:Book Antiqua;
    margin-left: 10px;
}

.TurnosVerLinks
{
    font-size: medium;
    font-family:Book Antiqua;
    margin-left: 10px;
}

.DivTurnosTomados
{
    margin-top: 25px;
    width: auto;
}

.TurnosPendientesLinks
{
      font-size:large;
    font-family:Book Antiqua;
    margin-left: 10px;
    margin-top: 30px;
}

.DivTurnoProveedorReservar
{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 485px;
}

.TurnosLabelIzq
{
    margin-left:10px;
    }
    
.TurnosTituloGrilla
{
   font-size: 1.3em;
    font-weight:bolder;
    color: #B3E4E8;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 100px;
    
}




#MainContent_FechaDesde, #MainContent_HoraDesde
{
    margin-left: 3px;
}

#MainContent_FechaHasta, #MainContent_HoraHasta
{
    margin-left: 6px;
}

#MainContent_BorrarEstadisticas
{
    margin-left: 15px;
}

#MainContent_lblResultado
{
    width:650px;
    font-size:large;
    font-weight:bolder;
    color: black;
    font-variant:normal;
    text-transform: none;
    font-weight:300;
    margin-bottom: 0px;
    padding-left:auto;
    padding-right:auto;
    border-style:solid;
    border-color:Red; 
    border-width:1px;
    padding:10px;
}

body.mceContentBody { 
   background: #fff; 
   color:#000;
}


#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
}
#one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#one-column-emphasis td
{
	padding: 2px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.oce-first
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}


.tbHorariosDia
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*
	background: #fff;
	margin: 45px;
	width: 480px;
    */
	border-collapse: collapse;
	text-align: left;
}
.tbHorariosDia th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px !important;
	border-bottom: 2px solid #6678b1;
}
.tbHorariosDia td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
	border-top: 0px solid transparent !important;
}
.tbHorariosDia tbody tr:hover td
{
	color: #009;
}

.ui-widget {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
}

.styled-select select {
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 200px;
   }
   
   
#MainContent_GruposAsociados
{
    width:350px;
}

.recuadro
{
    border-style:solid;
    border-color:Red; 
    border-width:1px;
}